<h1><%= @event.name %></h1>

<p class="hevent">
<span class="location"><%= @event.location %></span> starts <span class="date"><%= @event.date %></span>
</p>

<% form_tag :action => 'post', :id => params[:id] do %>

<%= error_messages_for 'response' %>

<h2>Guest list <%= link_to(image_tag('feed.png'), feed_url) %></h2>

<% if @event.has_responses? -%>
<ul id="guest_list">
  <% @event.responses.each do |resp| -%>
    <li class="<%= resp.rsvp ? 'confirmed' : 'cancelled' %>"><%= resp.name %></li>
  <% end -%>
</ul>
<% end -%>

<dl>
<dt><%= label :response, :name, 'Your name' %></dt>
<dd><%= text_field :response, :name %></dd>

<dt><%= label :response, :rsvp, 'Your reply' %></dt>
<dd><%= select :response, :rsvp, {"I will attend" => 1, "I will NOT attend" => 0} %></dd>

<dt><%= submit_tag 'Post response' %></dt>
</dl>

<% end -%>
