<h1><%= @event.name %></h1>

<p class="hevent">
<span class="location"><%= @event.location %></span> starts <span class="date"><%= @event.date %></span>
</p>

<h2>Guest list</h2>

<% form_tag :action => 'post', :id => params[:id] do %>

<%= error_messages_for 'response' %>

<dl>
<dt><%= label :response, :name, 'Your name' %></dt>
<dd><%= text_field :response, :name %></dd>

<dt><%= label :response, :rsvp %></dt>
<dd><%= select :response, :rsvp, ["I will attend", "I will NOT attend"] %></dd>

<dt><%= submit_tag 'Post response' %></dt>
</dl>

<% end -%>
