<% if flash.empty? -%>
<p id="create_your_own"><%= l(:response, :hosting_an_event) %> &#8212; <%= link_to(l(:response, :create_your_own), home_url) %></p>
<% end -%>

<h1 class="event_name"><%= h(@event.name) %></h1>

<div class="container">

<div id="details">
<p><%= l(:event, :when) %> <span class="date"><%= h(@event.date) %></span></p>
<p><%= l(:event, :where) %> <span class="location"><%= h(@event.location) %></span></p>
</div>

<div class="rsvp">

<h2><%= l(:response, :rsvp) %></h2>

<% form_tag :action => 'post', :id => params[:id] do %>

<%= error_messages_for :response do |objects, header_message, description, error_messages, localized_object_name, count|
      content_tag(:div, content_tag(:ul, error_messages.collect{|msg| content_tag :li, msg}.join("\n")), :id => 'errors')
    end %>

<div class="tip">
<%= label :response, :name, l(:response, :name) %>
<%= text_field :response, :name, :size => 20 %>
</div>

<div class="bubble">
<p><%= radio_button :response, :rsvp, 1 %><%= label :response, :rsvp_1, l(:response, :confirm) %></p>
<p><%= radio_button :response, :rsvp, 0 %><%= label :response, :rsvp_0, l(:response, :decline) %></p>
</div>

<%= submit_tag l(:response, :submit_label) %>

<% end -%>

</div>

<div class="guestlist">

<h2><%= l(:event, :guest_list) %> <%= link_to(image_tag('feed.png'), feed_url) %></h2>

<% if @event.has_responses? -%>
<ul id="guest_list">
  <% @event.guests_by_reverse_chron.each do |guest| -%>
    <li class="<%= guest.attending? ? 'confirmed' : 'declined' %>"><%= h(guest.name) %></li>
  <% end -%>
</ul>
<% else -%>
<p><%= l(:response, :no_responses_yet) %></p>
<% end -%>

</div>

</div>
