<% if flash.empty? -%>
<p id="create_your_own"><%= I18n.t(:'response.hosting_an_event') %> &#8212; <%= link_to(I18n.t(:'response.create_your_own'), create_url) %></p>
<% end -%>

<h1 class="event_name"><%= h(@event.name) %></h1>

<div class="expiration">
  <%= I18n.t(:'event.expires_on', :date => content_tag(:strong, "#{I18n.l(@event.expires_on, :format => :expiration)}")) %>
</div>

<div class="container">

<div id="details">
<p><%= I18n.t(:'event.when') %> <span class="date"><%= h(@event.date) %></span></p>
<p><%= I18n.t(:'event.where') %> <span class="location"><%= h(@event.location) %></span></p>
</div>

<div class="rsvp">

<h2><%= I18n.t(:'response.rsvp') %></h2>

<% form_tag :action => 'post', :id => params[:id] do %>

<%= error_messages_body_for 'response' %>

<div class="tip">
<%= label_with_hint :response, :name, I18n.t(:'response.name'), I18n.t(:'response.name_hint') %>
<%= text_field :response, :name, :size => 20 %>
</div>

<div class="bubble">
<p><%= radio_button :response, :rsvp, 1 %><%= label :response, :rsvp_1, I18n.t(:'response.confirm') %></p>
<p><%= radio_button :response, :rsvp, 0 %><%= label :response, :rsvp_0, I18n.t(:'response.decline') %></p>
</div>

<div><%= submit_tag I18n.t(:'response.submit_label') %></div>

<% end -%>

</div>

<div class="guestlist">

<h2><%= I18n.t(:'event.guest_list') %> <%= link_to(image_tag('feed.png'), feed_url) %></h2>

<% if @event.has_responses? -%>
<ul id="guest_list">
<%= render :partial => "guest", :collection => @event.responses %>
</ul>
<% else -%>
<p><%= I18n.t(:'response.no_responses_yet') %></p>
<% end -%>

</div>

</div>
