<h1><%= h(@event.name) %></h1>

<div id="details">
<p><%= l(:event, :when) %> <span class="date"><%= h(@event.date) %></span></p>
<p><%= l(:event, :where) %> <span class="location"><%= h(@event.location) %></span></p>
</div>

<div class="rsvp">

<h2><%= l(:response, :rsvp) %></h2>

<% form_tag :action => 'post', :id => params[:id] do %>

<%= error_messages_for 'response' %>

<p>
<%= label :response, :name, l(:response, :name) %>
<%= text_field :response, :name %>
</p>

<p>
<%= radio_button :response, :rsvp, 1 %><%= label :response, :rsvp_1, l(:response, :confirm) %>
<%= radio_button :response, :rsvp, 0 %><%= label :response, :rsvp_0, l(:response, :cancel) %>
<%= submit_tag l(:response, :submit_label) %>
</p>

<% end -%>

</div>

<h2><%= l(:event, :guest_list) %> <%= link_to(image_tag('feed.png'), feed_url) %></h2>

<% if @event.has_responses? -%>
<ul id="guest_list">
  <% @event.guests_by_reverse_chron.each do |guest| -%>
    <li class="<%= guest.attending? ? 'confirmed' : 'cancelled' %>"><%= guest.name %></li>
  <% end -%>
</ul>
<% end -%>
