<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>