<h1><%= I18n.t(:add_event) %></h1>

<div class="container">

<ol id="instructions">
  <li><%= I18n.t(:'instructions.fill_in') %></li>
  <li><%= I18n.t(:'instructions.mail_url') %></li>
  <li><%= I18n.t(:'instructions.guests_rsvp') %></li>
</ol>

<% form_tag :action => 'new' do -%>

<%= error_messages_for 'event' do |objects, header_message, description, error_messages, localized_object_name, count|
      content_tag(:div, header_message, :id => 'errors')
    end %>

<dl>
<dt><%= label :event, :name, I18n.t(:'event.name_label') %></dt>
<dd><%= text_field :event, :name %><%= error_message_on :event, :name %></dd>

<dt><%= label :event, :date, "#{I18n.t(:'event.time_label')}#{tag(:br)}#{content_tag(:span, I18n.t(:'event.time_label_hint',
  :other_service => link_to("Snapdecide", "http://www.snapdecide.com")), :class => 'hint')}" %></dt>
<dd><%= text_field :event, :date %><%= error_message_on :event, :date %></dd>

<dt><%= label :event, :location, I18n.t(:'event.location_label') %></dt>
<dd><%= text_field :event, :location %><%= error_message_on :event, :location %></dd>

<dt class="note"><%= I18n.t(:'event.will_expire', :date => content_tag(:strong, "#{60.days.from_now.to_formatted_s :expiration}")) %></dt>

<dt><%= submit_tag I18n.t(:'event.submit_label') %></dt>
</dl>

<% end -%>

</div>
