<h1><%= l(:add_event) %></h1>

<div class="container">

<ol id="instructions">
  <li><%= l(:instructions, :fill_in) %></li>
  <li><%= l(:instructions, :mail_url) %></li>
  <li><%= l(:instructions, :guests_rsvp) %></li>
</ol>

<% form_tag :action => 'new' do -%>

<%= error_messages_for 'event' %>

<% l_scope :event do -%>
<dl>
<dt><%= label :event, :name, l(:name_label) %></dt>
<dd><%= text_field :event, :name %></dd>

<dt><%= label :event, :date, l(:time_label) %></dt>
<dd><%= text_field :event, :date %></dd>

<dt><%= label :event, :location, l(:location_label) %></dt>
<dd><%= text_field :event, :location %></dd>

<dt><%= submit_tag l(:submit_label) %></dt>
</dl>
<% end -%>

<% end -%>

</div>