<h1><%= I18n.t(:add_event) %></h1>

<div class="container">

<% I18n.with_scope(:instructions) do |inst| -%>
<ol id="instructions">
  <li><%= inst.t(:fill_in) %></li>
  <li><%= inst.t(:mail_url) %></li>
  <li><%= inst.t(:guests_rsvp) %></li>
  <li><%= inst.t(:follow_responses) %></li>
</ol>
<% end -%>

<% form_tag :action => 'new' do -%>

<%= error_messages_header_for 'event' %>

<% I18n.with_scope :event do |locale| -%>
<dl>
<dt><%= label_with_hint :event, :name, locale.t(:name_label),
          locale.t(:name_label_hint, :ex1 => "#{content_tag(:q, locale.t(:name_ex1))}",
            :ex2 => "#{content_tag(:q, locale.t(:name_ex2))}") %></dt>
<dd><%= text_field :event, :name %><%= error_message_on :event, :name %></dd>

<dt><%= label_with_hint :event, :date, locale.t(:'time_label'), locale.t(:'time_label_hint',
  :other_service => link_to("Snapdecide", "http://www.snapdecide.com")) %></dt>
<dd><%= text_field :event, :date %><%= error_message_on :event, :date %></dd>

<dt><%= label_with_hint :event, :location, locale.t(:'location_label'),
          locale.t(:location_label_hint, :ex1 => "#{content_tag(:q, locale.t(:location_ex1))}",
            :ex2 => "#{content_tag(:q, locale.t(:location_ex2))}") %></dt>
<dd><%= text_field :event, :location %><%= error_message_on :event, :location %></dd>

<dt class="note"><%= locale.t(:'will_expire', :date => content_tag(:strong, "#{I18n.l(60.days.from_now.to_date, :format => :expiration)}")) %></dt>

<dt><%= submit_tag locale.t(:'submit_label') %></dt>
</dl>
<% end -%>

<% end -%>

</div>
