<div class="twocol">

<div id="get-started">

<div id="welcome">
hyggelig.org brings <strong>simple event planning</strong> to you and your friends.
It works <strong>without registration</strong> or login,
and anything you submit expires automatically.<br />
<%= link_to 'Learn more', static_path(:tour) %> or <a href="http://blog.hyggelig.org/">read the blog</a>.
</div>

<ol id="instructions">
<% I18n.with_scope(:instructions) do |inst| -%>
  <li id="step1"><strong><%= inst.t(:create) %></strong><br/><span><%= inst.t(:fill_in) %></span></li>
  <li id="step2"><strong><%= inst.t(:send) %></strong><br/><span><%= inst.t(:mail_url) %></span></li>
  <li id="step3"><strong><%= inst.t(:follow) %></strong><br/><span><%= inst.t(:follow_responses) %></span></li>
<% end -%>
</ol>

</div>

<div class="container" id="create">
<h1><%= I18n.t(:add_event) %></h1>

<% form_tag :action => 'new' do -%>

<%= error_messages_header_for 'event' %>

<% I18n.with_scope :event do |locale| -%>
<dl>
<dt><%= label_with_hint :event, :name, locale.t(:name_label),
          locale.t(:name_label_hint, :ex1 => "#{content_tag(:q, locale.t(:name_ex1))}",
            :ex2 => "#{content_tag(:q, locale.t(:name_ex2))}") %></dt>
<dd><%= text_field :event, :name %><%= error_message_on :event, :name %></dd>

<dt><%= label_with_hint :event, :date, locale.t(:'time_label'), locale.t(:'time_label_hint',
  :other_service => link_to("Snapdecide", "http://www.snapdecide.com")) %></dt>
<dd><%= text_field :event, :date %><%= error_message_on :event, :date %></dd>

<dt><%= label_with_hint :event, :location, locale.t(:'location_label'),
          locale.t(:location_label_hint, :ex1 => "#{content_tag(:q, locale.t(:location_ex1))}",
            :ex2 => "#{content_tag(:q, locale.t(:location_ex2))}") %></dt>
<dd><%= text_field :event, :location %><%= error_message_on :event, :location %></dd>

<dt class="note"><%= locale.t(:'will_expire', :date => content_tag(:strong, "#{I18n.l(Event::TIME_TO_LIVE.from_now.to_date, :format => :expiration)}")) %></dt>

<dt><%= submit_tag locale.t(:'submit_label') %></dt>
</dl>
<% end -%>

<% end -%>

</div>

</div>
