<h1><%= l(:add_event) %></h1>

<div class="container">

<ol id="instructions">
  <li><%= l(:instructions, :fill_in) %></li>
  <li><%= l(:instructions, :mail_url) %></li>
  <li><%= l(:instructions, :guests_rsvp) %></li>
</ol>

<% form_tag :action => 'new' do -%>

<%= error_messages_for 'event' do |objects, header_message, description, error_messages, localized_object_name, count|
      content_tag(:div, header_message, :id => 'errors')
    end %>

<% l_scope :event do -%>
<dl>
<dt><%= label :event, :name, l(:name_label) %></dt>
<dd><%= text_field :event, :name %><%= error_message_on :event, :name %></dd>

<dt><%= label :event, :date, l(:time_label) %></dt>
<dd><%= text_field :event, :date %><%= error_message_on :event, :date %></dd>

<dt><%= label :event, :location, l(:location_label) %></dt>
<dd><%= text_field :event, :location %><%= error_message_on :event, :location %></dd>

<dt class="note"><%= l(:will_expire, :date => content_tag(:strong, "#{60.days.from_now.to_formatted_s :expiration}")) %></dt>

<dt><%= submit_tag l(:submit_label) %></dt>
</dl>
<% end -%>

<% end -%>

</div>