<% if flash.empty? -%>
<p id="create_your_own"><%= I18n.t(:'response.hosting_an_event') %> &#8212; <%= link_to(I18n.t(:'response.create_your_own'), create_url) %></p>
<% end -%>

<h1 class="event_name"><%= h(@event.name) %></h1>

<div class="expiration">
  <%= I18n.t(:'event.expires_on', :date => content_tag(:strong, "#{I18n.l(@event.expires_on, :format => :expiration)}")) %>
</div>

<div class="container">

<div id="guests">

<h2><%= I18n.t(:'event.guest_list') %> <%= link_to(image_tag('feed.png'), feed_url(@event.permalink)) %></h2>

<ul id="guest_list">
<li>
<% form_for @response, :url => response_url(:permalink => @event.permalink) do |f| %>

<h3><%= I18n.t(:'response.rsvp') %></h3>

<%= error_messages_body_for 'response' %>

<div class="tip">
<%= f.label :name, I18n.t(:'response.name'), :class => 'overlabel' %>
<%= f.text_field :name, :size => 20 %>
</div>

<div class="bubble">
<p><%= f.radio_button :rsvp, true %><%= f.label :rsvp_true, I18n.t(:'response.confirm') %></p>
<p><%= f.radio_button :rsvp, false %><%= f.label :rsvp_false, I18n.t(:'response.decline') %></p>
</div>

<div><%= f.submit I18n.t(:'response.submit_label') %></div>

<% end -%>
</li>
<%= render :partial => "shared/guest", :collection => @event.responses %>
</ul>
<% unless @event.has_responses? -%>
<p><%= I18n.t(:'response.no_responses_yet') %></p>
<% end -%>

</div>

<div id="details">

<h2><%= I18n.t(:'event.summary') %></h2>

<p><%= I18n.t(:'event.when') %> <span class="date"><%= h(@event.date) %></span></p>
<p><%= I18n.t(:'event.where') %> <span class="location"><%= h(@event.location) %></span></p>
</div>

</div>
