<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= event_title %></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= auto_discovery_link_tag :rss, :controller => 'response', :action => 'feed', :id => @event.permalink if @event && @event.valid? %>
</head>
<body>

<%= flash_messages %>

<%= yield  %>

<div class="footer band">
<%= l(:about, :what_is_hyggelig) % link_to('André', 'http://github.com/awendt/hyggelig') %><br />
<%= l(:about, :questions_or_bugs, :mlist => "<a href=\"http://mail.hyggelig.org/mailman/listinfo/hyggelig-friends_hyggelig.org\" lang=\"en\">#{l(:about, :mlist)}</a>") %><br />
</div>

</body>
</html>
