<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= event_title %></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= auto_discovery_link_tag :rss, :controller => 'response', :action => 'feed', :id => @event.permalink if @event && @event.valid? %>
</head>
<body>

<% if flash[:notice] %><p id="flash"><%= flash[:notice] %></p><% end %>

<%= yield  %>

<div class="footer band">
hyggelig.org is a <em>free and open-source</em>
<a href="http://www.rubyonrails.org" title="Ruby on Rails, an MVC framework written in Ruby">Rails</a> application licensed 
under the <a href="http://www.gnu.org/licenses/agpl-3.0.txt" title="Full text of the GNU Affero General Public License Version 3">GNU AGPL</a>.<br />
The <a href="http://github.com/awendt/hyggelig/">official repository</a> is hosted on <a href="http://github.com/">GitHub</a>.<br />
If you have questions or found any bugs, please post to the mailing list.
</div>

</body>
</html>
