<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="Description" content="<%= I18n.t(:slogan) %>. <%= I18n.t(:'about.what_is_hyggelig', :site_name => SITE_NAME, :name => 'André') %>" />
  <title><%= event_title %></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= auto_discovery_link_tag :rss, :controller => 'response', :action => 'feed', :id => @event.permalink if @event && @event.valid? %>
</head>
<body>

<%= flash_messages %>

<%= yield  %>

<div class="footer band">
<%= I18n.t(:'about.what_is_hyggelig', :site_name => SITE_NAME, :name => link_to('André', 'http://github.com/awendt/hyggelig')) %><br />
<%= I18n.t(:'about.questions_or_bugs', :mlist => link_to(I18n.t(:'about.mlist'), 'http://mail.hyggelig.org/mailman/listinfo/hyggelig-friends_hyggelig.org', :'xml:lang' => 'en')) %><br />
<%= "Also available in: #{links_for_other_locales}" %>
</div>

</body>
</html>
